{% if footer %}
<footer class="bc-footer bc-footer-big" role="contentinfo">

  {% if footer.last_updated %}
    <div class="bc-grid">
      <div class="bc-width-one-whole">
        <p>Last updated: {{ page.last_modified_at | date: '%B %d, %Y at %I:%M %p' }}</p>
      </div>
    </div>
  {% endif %}

  {% if footer.top %}
    <div class="bc-grid bc-footer-return-to-top">
      <p>Return to Top</p>
    </div>
  {% endif %}



  {% if footer.links %}
    {% assign footer_links = site.data.navigation[footer.links] | default: footer.links %}
    {% assign _sizes = 'whole half third fourth sixth' | split: ' ' %}
    {% assign _size = footer_links.size | minus: 1 %}
    {% assign _size = _sizes[_size] | default: 'whole' %}
  <div class="bc-footer-primary-section">
    <div class="bc-grid">
      <nav class="bc-footer-nav{% if footer.big_footer_signup_form %} bc-width-two-thirds{% endif %}">
        {% for _topic in footer_links %}
        <ul class="bc-unstyled-list bc-width-one-{{ _size }} bc-footer-primary-content">
          <li class="bc-footer-primary-link">
            <h4>{{ _topic.text }}</h4>
          {% for _link in _topic.links %}
          <li class="bc-footer-secondary-link">
            <a href="{% if _link.external == true %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">
              {{ _link.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </nav>
      {% if footer.big_footer_signup_form %}
      <div class="bc-sign_up-block bc-width-one-third">
        <h3 class="bc-sign_up-header">Sign up</h3>

        <label class="" for="email" id="">Your email address</label>
        <input id="email" name="email" type="email">

        <button type="submit">Sign up</button>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if footer.logos or footer.heading or footer.contact or footer.edit_page %}
  <div class="bc-footer-secondary_section">
    <div class="bc-grid">
      <div class="bc-footer-logo bc-width-one-half">
        {% if footer.logos %}
          {% for logo in footer.logos -%}
            {% if logo.url %}
              <a href="{{ logo.url }}">
            {% endif %}
            <img class="bc-footer-big-logo-img" src="{% if logo.external %}{{ logo.src }}{% else %}{{ logo.src | relative_url }}{% endif %}" alt="{{ logo.alt }}"{% if logo.width %}width="{{ logo.width }}"{% endif %}{% if logo.height %}height="{{ logo.height }}"{% endif %}>
            {% if logo.url %}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if footer.heading %}
        <h3 class="bc-footer-big-logo-heading">{{ footer.heading }}</h3>
        {% endif %}
      </div>

      {% if footer.contact %}
      <div class="bc-footer-contact-links bc-width-one-half">
        {% assign social_links = site.data.footer.contact.social_links %}
        {% if footer.contact.contact_links %}
          {% for _link in social_links %}
            <a class="bc-link-{{ _link.type | default: 'generic' }}" href="{% if _link.external == true %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">
              <span>{{ _link.text }}</span>
            </a>
          {% endfor %}
        {% endif %}
        {% if footer.contact.heading %}
          <h3 class="bc-footer-contact-heading">{{ footer.contact.heading }}</h3>
          {% endif %}
          {% if footer.contact.contact_links %}
            <address>
              {% assign contact_links = site.data.footer.contact.contact_links %}
              {% for _link in contact_links %}
                <div class="bc-footer-primary-content bc-footer-contact_info">
                  <p>
                    <a href="{% if _link.external == true %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">
                      {{ _link.text }}
                    </a>
                  </p>
                </div>
              {% endfor %}
            </address>
        {% endif %}
      {% endif %}
      {% if footer.edit_page %}
        {% include components/github-edit.html footer=footer path=page.path %}
      {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

</footer>
{% endif %}
