.bc-footer-primary-section {
  
    background-color: #003366;
    top: 100px;
    border-top: 2px solid #FCBA19;

  .bc-footer-primary-link {
   
      color: white;
    
  }
}

.bc-footer-secondary_section {
  @if variable-exists(footer-bg) {
    background-color: $footer-bg;
  }
  @if variable-exists(footer-text) {
    color: $footer-text;
  }

  a {
    @if variable-exists(footer-link) {
      color: $footer-link;
    }
  }
}
