.bc-header {
    // Note: for sticky header
    position: sticky;
    top: 0;
    background-color: #003366;
    
  .bc-logo {
    a {
        color: white;
    }
    .bc-logo-img {
      float: left;
      height: 1.5rem;
      margin-top: 1.25rem;
      margin-right: 0.25rem;

      @include media($nav-width) {
        margin-top: 0;
        height: 2.4rem;
      }

      & + .bc-logo-text {
        float: left;
        
      }
    }
  }

  &.bc-header-extended .bc-logo-img {
    @include media($nav-width) {
      height: 3.2rem;
    }
  }

  .bc-nav-secondary-links {
    a {
        // Note: Color of links to the right of title
        color: white;
        

      &:hover {
        @if variable-exists(header-link-hover) {
          color: $header-link-hover;
        }
      }
    }
  }
}
