---
layout: default
main:
  class: bc-grid bc-section bc-content bc-layout-docs
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
  <aside class="bc-layout-docs-sidenav sidenav {% if page.sticky_sidenav %}bc-sticky-sidenav{% endif %}">
    {% include sidenav.html links=sidenav %}
  </aside>
{% endif %}

<div class="bc-layout-docs-main_content">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}
  {{ content }}
</div>
<br/><br/><br/><br/><br/>